# Iteration review

From the `iteration-control-flows-functions` lesson:

---
<a id='coffee_preference'></a>

# Practice control flow on Coffee Preference dataset

### 13. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [2]:
with open('datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through lines and print them out

In [3]:
# A: 
for line in lines:
    print(line)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

#### Print out just the lines object by typing `lines` in a cell and hitting enter.

In [4]:
# A:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 14. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [5]:
# Replace works on strings:
'ben'.replace('e','a')

'ban'

In [6]:
new_lines = [] # empty list to hold the new lines
for line in lines:
    line = line.replace('\n','') # replace new line characters with nothing
    new_lines.append(line) # save our new line

In [7]:
# list comp solution:
new_lines = [line.replace('\n','') for line in lines]
# Pretty cool huh?

---

### 15. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [27]:
# A:
header = new_lines[0] # header is the first element in lines
data   = new_lines[1:] # data is every element from the 2nd element onwards

---

### 16. Split the header and the data strings on commas.

To split a string on the comma character, use the built in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

In [28]:
header = header.split(',')

In [29]:
# A:

In [30]:
# .split is another string method:
'these are separate words'.split()
# the default separator is whitespace: ' '

['these', 'are', 'separate', 'words']

In [31]:
# Since header is a string, we can directly apply .split:
split_header = header.split(',')

AttributeError: 'list' object has no attribute 'split'

In [32]:
# But data is a *list of strings*. So we need to do the same thing we did to
# the header for each *element* in data:
split_data = []
for row in data: # choosing to use 'row' as the placeholder makes sense here
    split_row = row.split(',')
    split_data.append(split_row)
    
# This should look the same as the earlier exercise with the replace method

In [33]:
# David's solution:
data = [line.split(',') for line in data]

---

### 17. Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or with slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [35]:
# Awab's solution:

header.remove('Timestamp')

In [42]:
# Leticia's solution:

data = [row[1:] for row in data]

In [12]:
# A:
split_header[0] # to remove this, lets reset split_header as everything but it:
header = split_header[1:] # 
header

['Name',
 'Starbucks',
 'PhilzCoffee',
 'BlueBottleCoffee',
 'PeetsTea',
 'CaffeTrieste',
 'GrandCoffee',
 'RitualCoffee',
 'FourBarrel',
 'WorkshopCafe']

In [13]:
# as before, split_data is a list of lists, not a single list.
data = [] # note I'm re-writing the data variable
for split_row in split_data:
    temporary_row = split_row[1:]
    data.append(temporary_row)

In [14]:
# But it is sure is nicer to do it this way:
data = [row[1:] for row in split_data]

In [15]:
header

['Name',
 'Starbucks',
 'PhilzCoffee',
 'BlueBottleCoffee',
 'PeetsTea',
 'CaffeTrieste',
 'GrandCoffee',
 'RitualCoffee',
 'FourBarrel',
 'WorkshopCafe']

In [16]:
data

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

# Pandas Preview:

In [17]:
# Screw it, lets throw these in a dataframe:

In [18]:
import pandas as pd

In [19]:
pd.DataFrame(data, columns=header)

,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe
0,Alison,3,5,4,3,,,5,5,
1,April,4,5,5,3,,,3,,5
2,Vijay,3,5,5,5,3,2,1,1,1
3,Vanessa,1,5,5,2,,,3,2,3
4,Isabel,1,4,4,2,4,,4,4,
5,India,5,3,3,3,3,1,,,3
6,Dave H,4,5,,5,,,,,
7,Deepthi,3,5,,2,,,,,2
8,Ramesh,3,4,,3,,,,,4
9,Hugh Jass,1,5,5,4,5,2,5,4,1
10,Alex,4,5,,3,,,,,
11,Ajay Anand,3,4,4,3,5,,,,
12,David Feng,2,3,4,2,2,,5,4,3
13,Zach,3,4,4,3,,,,,5
14,Matt,3,5,4,3,2,2,4,3,2
15,Markus,3,5,,3,,,4,,
16,Otto,4,2,2,5,,,3,3,3
17,Alessandro,1,5,3,2,,,4,3,
18,Rocky,3,5,4,3,3,3,4,4,3
19,cheong-tseng eng,3,1,,,,,4,,